<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MDBLIST_CLIENT_ID</key>
	<string>6EZ3dMCsZaiHLvm+2yyzYjFfaT4PtXUWE+2FLr0xMW24MOR3Vnb1i3CSO8bn/gLpLx95STlzBZayapwZQKYrNEDRPvc=</string>
	<key>MDBLIST_CLIENT_SECRET</key>
	<string>VS0W5Dy4di02hqiusuozrS95NDqeFo9C7n2XOrHkl3qSTvgWNW7Vc/Y/HjwvCFxUTeyLHvGTLe27PTeqk27lcQEIkGKIGmXexunOQRRvxnMVVZmOrHF9ih/sAFiO3l39iXWH3whVVjMRKBHsgwx3BF2umNYPYhJ75F/5iaCbPqoyxYCt/NKIGzHLFKjPskpwP3mRSDNRpGbMw/B5</string>
	<key>OMDB_API_KEY</key>
	<string>CuutpcsCzKWtTJ5VurXTHOSyuq0xPQtOSZtBR8fC78DbAdWm</string>
	<key>OPENROUTER_API_KEY</key>
	<string>znjw4gGlkKoV+zHcXEr2Uxoofb8a4up/bRBDPz2zouiOPqbdu7OQM8OZE69U1497dpRZPUQyLTlraoWomLBVizs/RZdEBmiuJuWzSNnqBKReLeUygT62XjsG3+L1JkeWWrZTC6c=</string>
	<key>POE_API_KEY</key>
	<string>f1c+MEk1bOTf04iT2b6rRv/PZTu73qD8yUM9GK//Xxo7Yr4BUlL5kQvbAg8oPy7hxAau+OOpAoVBS9337OsbPI2yZ5XUtAQ=</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>msyFvGmOODRWAJH7t44onZZLif++Lajh1tS2CLhMwhpUf/QlcITthMr3XjymuzHo+fCf7/EFyw64vm4D34PBUjfwCNiDCMPeU3Kx8iWSGbdkQIH4Eh4T66zlEuaE3DEDV2FZZw95bWZoL3a2YLJn4Cmnit/vbL5zBliXL3FFG4M56MuJG2TlM/NeTiYdtujcA0bhbbqRwJEhPshvAi6S27hLJp+tPkchbYoxqJG6dShJQ7MqHEaxtNT22Rx1d1AshT0ph6dfpg06C+jzWwgSkT/CYYDRPjvXcRoV5aSNQQ4SvD3S7D4LXZ0HnmY=</string>
	<key>SUPABASE_URL</key>
	<string>NW9l+CHQd5vN+qLqMId0IfZYpOk0QjF73OiHg3HtkPMyiNH0JhcjYukXvD08ceI/ai/JmZ590GFxHjeUE6OPk4ZzwrA=</string>
	<key>TMDB_API_KEY</key>
	<string>3+F51e6dW56QARppsG/hMQ2o9zzc6eeykd3oOMGi4dV6UXx++rZdGK8+ew9WMQwlEI6fpJiQTzvRScpa</string>
</dict>
</plist>
