<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MDBLIST_CLIENT_ID</key>
	<string>6EZ3dMCsZaiHLvm+2yyzYjFfaT4PtXUWE+2FLr0xMW24MOR3Vnb1i3CSO8bn/gLpLx95STlzBZayapwZQKYrNEDRPvc=</string>
	<key>MDBLIST_CLIENT_SECRET</key>
	<string>VS0W5Dy4di02hqiusuozrS95NDqeFo9C7n2XOrHkl3qSTvgWNW7Vc/Y/HjwvCFxUTeyLHvGTLe27PTeqk27lcQEIkGKIGmXexunOQRRvxnMVVZmOrHF9ih/sAFiO3l39iXWH3whVVjMRKBHsgwx3BF2umNYPYhJ75F/5iaCbPqoyxYCt/NKIGzHLFKjPskpwP3mRSDNRpGbMw/B5</string>
	<key>OMDB_API_KEY</key>
	<string>CuutpcsCzKWtTJ5VurXTHOSyuq0xPQtOSZtBR8fC78DbAdWm</string>
	<key>OPENROUTER_API_KEY</key>
	<string>znjw4gGlkKoV+zHcXEr2Uxoofb8a4up/bRBDPz2zouiOPqbdu7OQM8OZE69U1497dpRZPUQyLTlraoWomLBVizs/RZdEBmiuJuWzSNnqBKReLeUygT62XjsG3+L1JkeWWrZTC6c=</string>
	<key>POE_API_KEY</key>
	<string>T1BIpnUvP8VAY0CYo3w2E/Lc6aCQQ5KykFVTGZ0BcRfYgfDQ4ub2rc21eNWxg4BVjwU5S6G/+ekWFL4C/YSfLZbwis646us=</string>
	<key>TMDB_API_KEY</key>
	<string>3+F51e6dW56QARppsG/hMQ2o9zzc6eeykd3oOMGi4dV6UXx++rZdGK8+ew9WMQwlEI6fpJiQTzvRScpa</string>
</dict>
</plist>
